<h1><%= @property.property_name%></h1>
<ul>
  <li><%= @property.property_address %></li>
  <li><%= @property.property_price %></li>
  <li>From<%= @property.availability_from %></li>
  <li>To<%= @property.availability_until %></li>
</ul>

<%= link_to edit_property_path(@property) do %>
  <button type="button" class="btn btn-primary" >Modify your property</button>
<% end %>
<%= link_to property_path(@property), method: :delete do %>
  <button type="button" class="btn btn-primary">Delete your property</button>
<% end %>
<%= link_to new_property_booking_path(@property) do %>
  <button type="button" class="btn btn-primary">Book your stay</button>
<% end %>
<% console %>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
