<h1><%= @property.property_name%></h1>
<ul>
  <li><%= @property.property_address %></li>
  <li><%= @property.property_price %></li>
  <li>From<%= @property.availability_from %></li>
  <li>To<%= @property.availability_until %></li>
</ul>

<%= link_to 'Modify your property', edit_property_path(@property) %>
<%= link_to 'Delete your property', property_path(@property), method: :delete %>
<%= link_to 'Book your stay', new_property_booking_path(@property) %>
